[package]
name = "deltaforge-checkpoints"
version = "0.1.0"
edition.workspace = true

[dependencies]
thiserror.workspace = true
anyhow.workspace = true
serde.workspace = true
tokio.workspace = true
serde_json.workspace = true
async-trait.workspace = true